@model IEnumerable<Medical.Models.RatingDoctor>

@{
    ViewData["Title"] = "RatingDoctorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">醫生評論</h3>
        </div>
    </div>
</div>
<!-- Hero End -->
<br>

<p>
    <a asp-action="List">返回</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                分數
            </th>
 
            <th>
                評論內容
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingType.RatingTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
        }
    </tbody>
</table>
