@model Medical.ViewModel.AAdvertiseViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}




        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>新增廣告</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div>



        <div class="card">

            <h4>廣告內容</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="No" class="form-control" />
                            <span asp-validation-for="No" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdminId" class="control-label" hidden="hidden"></label>
                            <input asp-for="AdminId" class="form-control" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label asp-for="AdTitle" class="control-label"></label>
                            <input asp-for="AdTitle" class="form-control" />
                            <span asp-validation-for="AdTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdContant" class="control-label"></label>
                            <textarea asp-for="AdContant" class="form-control" style="width:500px;height:200px;font-size:15px"></textarea>
                            <span asp-validation-for="AdContant" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdPicturePath" class="control-label"></label>
                            <input name="photo" type="file" asp-for="AdPicturePath" class="form-control" />
                            <span asp-validation-for="AdPicturePath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Adstatue.Adstatue" class="control-label"></label>
                            <select asp-for="Adstatue.Adstatue" class="form-control form-control-lg " id="selAdstatue"></select>
                            <span asp-validation-for="Adstatue.Adstatue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="送出" class="btn btn-primary" onclick="return confirm('確定新增此資料嗎??')" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                @Html.ActionLink("回到廣告列表", "List", "AdvertiseAdmin", "", new { @class = "btn btn-outline-warning btn-sm" })
            </div>

        </div>

 


@section Scripts {
    <script>
    LoadAdstatue();

    async function LoadAdstatue() {
        const response = await fetch("@Url.Content("~/Admin/advertiseAdmin/AdstatueCheckBox")")
        const datas = await response.json();
        datas.forEach(value => {
            const option = new Option(value, value);
            let selAdstatue = document.querySelector("#selAdstatue");
            selAdstatue.options.add(option);
        })
    }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}