@model Medical.ViewModel.AArticleViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Blank Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="card">
            <h1>修改文章作業</h1>

            <h4>修改文章</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ArticleId" class="control-label " hidden="hidden"></label>
                            <input asp-for="ArticleId" class="form-control" type="hidden" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Doctor.DoctorName" class="control-label"></label>
                            <input asp-for="Doctor.DoctorName" class="form-control" disabled="disabled" />
                            <span asp-validation-for="Doctor.DoctorName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdminId" class="control-label" hidden="hidden"></label>
                            <input asp-for="AdminId" class="form-control" type="hidden" />

                        </div>
                        <div class="form-group">
                            <label asp-for="Articeltitle" class="control-label"></label>
                            <input asp-for="Articeltitle" class="form-control" />
                            <span asp-validation-for="Articeltitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ArticleContent" class="control-label"></label>
                            <textarea asp-for="ArticleContent" class="form-control" style="width:500px;height:200px;font-size:15px"></textarea>
                            <span asp-validation-for="ArticleContent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreateDate" class="control-label"></label>
                            <input asp-for="CreateDate" class="form-control" id="str_Date" />
                            <span id="sp_date" class="sp1"></span>
                            @*可以做認證*@
                            <div>
                                <span asp-validation-for="CreateDate" class="text-danger">範例:1996/1/8</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="送出" class="btn btn-primary" onclick="return confirm('確定修改此資料嗎??')" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="List" class="btn btn-outline-warning btn-sm">回到主頁</a>
            </div>
        </div>


@section Scripts {
    <script>
        //日期驗證
        let strDate = document.getElementById("str_Date");
        let spDate = document.getElementById("sp_date");

        strDate.addEventListener("blur", () => {
            var dateArr = strDate.value.split("/");
            var dateNow = new Date();
            if (strDate.value == "") {
                spDate.innerHTML = "<img src='../../../img/error.png' />請輸入完整日期!!";
            }
            else {
                let year = dateArr[0];
                let month = dateArr[1];
                let day = dateArr[2];
                if (year <= dateNow.getFullYear()) {
                    if (month >= 1 && month <= 12) {
                        //小月
                        if (month == 4 || month == 6 || month == 9 || month == 11) {
                            if (day > 0 && day <= 30) {
                                spDate.innerHTML = "<img src = '../../../img/correct.jpg' />格式正確"
                            }
                            else {
                                spDate.innerHTML = "<img src='../../../img/error.png' />日期有誤，請重新輸入日期"
                            }
                        }
                        //例外月(2月)
                        else if (month == 2) {
                            //潤月
                            if ((year % 4) == 0) {
                                if (day > 0 && day <= 29) {
                                    spDate.innerHTML = "<img src = '../../../img/correct.jpg' />格式正確"
                                }
                                else {
                                    spDate.innerHTML = "<img src='../../../img/error.png' />日期有誤，請重新輸入日期"
                                }
                            }
                            else {
                                if (day > 0 && day <= 28) {
                                    spDate.innerHTML = "<img src = '../../../img/correct.jpg' />格式正確"
                                }
                                else {
                                    spDate.innerHTML = "<img src='../../../img/error.png' />日期有誤，請重新輸入日期"
                                }
                            }
                        }
                        //大月
                        else {
                            if (day > 0 && day <= 31) {
                                spDate.innerHTML = "<img src = '../../../img/correct.jpg' />格式正確"
                            }
                            else {
                                spDate.innerHTML = "<img src='../../../img/error.png' />日期有誤，請重新輸入日期"
                            }
                        }
                    }
                    else {
                        spDate.innerHTML = "<img src='../../../img/error.png' />月份有誤，請重新輸入月份";
                    }
                }
                else {
                    spDate.innerHTML = "<img src='../../../img/error.png' />年份有誤，請重新輸入年份";
                }
            }
        })
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}