@model IEnumerable<Medical.ViewModel.CReserveViewModel>

@{
    ViewData["Title"] = "WorkSpace";
    Layout = "~/Areas/Doctors/Doctor_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.css" />
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">門診名單</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0 " style="height: 500px;">

                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 0;
                                        foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td id=@count>
                                                    @count
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Member.Gender.Gender1)
                                                </td>
                                                <td>
                                                    @{
                                                        DateTime now = DateTime.Now;
                                                        var array = item.Member.BirthDay.ToString().Split('/');
                                                        int month = int.Parse(array[1]);
                                                        int day = int.Parse(array[2]);
                                                        int age = now.Year - int.Parse(array[0]);
                                                        if (now.Month < month || (now.Month == month && now.Day < day))
                                                        {
                                                            age--;

                                                        }
                                                    }
                                                    <a>@age 歲</a>

                                                </td>

                                                <td>
                                                    <div class="btn-group" style="float:right">
                                                        <button id="dropdown" type="button" class="dropdown-toggle btn" data-toggle="dropdown" aria-expanded="false">
                                                            候診中
                                                        </button>
                                                        <div class="dropdown-menu" role="menu" style="">
                                                            <a class="dropdown-item" href="#">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">
                                                                        過號候補
                                                                    </font>
                                                                </font>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                        <!-- /.card-body -->
                    </div>
                    <div>
                        <input type="button" class="btn btn-block btn-info btn-lg" id="nextNum" value="叫號" />
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">看診</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">病患病歷紀錄</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" style="height: 500px;">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                            <textarea id="inputMessage" class="form-control" rows="18">
                                         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia erat eget sapien porta consectetur.
                                    </textarea>
                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">


                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                        </div>
                    </div>

                </div>

                <!-- /.card -->
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button id="btnNotReport" type="button" class="btn btn-block btn-outline-secondary btn-lg">未報到</button>
                    </div>

                    <div class="col">
                        <button id="btnSave" type="button" class="btn btn-block bg-gradient-primary btn-lg">儲存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
    var count = 1;
    $('#nextNum').click(function () {
        let pre = count - 1;

        $("#" + pre + "").parent().css("background-color", "white").find("#dropdown").removeClass("btn-danger").addClass("btn-success disabled").html("完成看診");
        $("#" + count + "").parent().css("background-color", "#FFDFBF").find("#dropdown").addClass("btn-danger").html("看診中");

        if (count > 1)
            removeData();

        loadPatientDetial();

        count++;
    });

    $('#btnNotReport').click(function () {
        let pre = count - 1;
        
        $("#" + pre + "").parent().css("background-color", "white").find("#dropdown").removeClass("btn-danger").addClass("btn-warning").html("未報到");
        $("#" + count + "").parent().css("background-color", "#FFDFBF").find("#dropdown").addClass("btn-danger").html("看診中");

        if (count > 1)
            removeData();

        loadPatientDetial();

        count++;
    });

        $('#btnSave').click(function () { Swal.fire('儲存成功', '', 'success') } );

    function removeData() {
            let card = document.querySelector("#card");
            //let tab = document.querySelector("#custom-tabs-four-profile")
            //tab.removeChild(card);
            card.remove();
        }

    async function loadPatientDetial() {
            const response = await fetch('@Url.Content("~/Doctors/Consultation/user")' + `?id=${count}`);
            const datas = await response.json();

            let card = document.createElement("div");
            card.setAttribute("id", "card");
            card.setAttribute("class", "card");

            let tablediv = document.createElement("div");
            tablediv.setAttribute("class", "card-body table-responsive p-0");
            tablediv.setAttribute("style", "height: 470px;");

            let table = document.createElement("table");
            table.setAttribute("class", "table table-head-fixed text-nowrap");

            let thead = document.createElement('thead');
            let tbody = document.createElement('tbody');
            let headerTr = document.createElement('tr')
            let tr = document.createElement("tr");

            //$.each(datas, function (index, value) {
            //    if (index == 1) {
            //        $.each(value, function (key, val) {
            //            let th = document.createElement('th');
            //            th.textContent = key;
            //            headerTr.appendChild(th);
            //        });
            //        thead.append(headerTr);
            //    }
            //});

            for (let i = 0; i < 2; i++) {
                let th = document.createElement('th');
                th.textContent = (i == 0) ? "看診日期" : "診斷紀錄";
                headerTr.appendChild(th);
            }
            thead.append(headerTr);


            datas.forEach(obj => {
                tr = document.createElement("tr");
                Object.entries(obj).forEach(([key, value]) => {
                    let td = document.createElement("td");
                    td.textContent = value;
                    tr.append(td);
                });
                tbody.append(tr);
            });

            table.append(thead);
            table.append(tbody);

            tablediv.append(table);
            card.append(tablediv);

            document.querySelector("#custom-tabs-four-profile").appendChild(card);

        }

    </script>
}